<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>New Friend</h1>
    <form
      action="#"
      th:action="@{/savefriend}"
      method="post"
      th:object="${friend}"
    >
      <p>First name: <input type="text" th:field="*{firstName}" /></p>
      <p>Last name: <input type="text" th:field="*{lastName}" /></p>
      <p><input type="submit" value="Add" /></p>
    </form>
  </body>
</html>
