<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Friend List</title>
</head>
<body>
    <h1>Friends</h1>
    <p>
        <a href="/newfriend">Add Friend</a>
        <table>
            <tr>
                <th>First name</th>
                <th>Last name</th>
            </tr>

            <tr th:each="friend : ${friends}">
                <td th:text="${friend.firstName}">first name</td>
                <td th:text="${friend.lastName}">last name</td>
            </tr>
        </table>
    </p>
</body>
</html>